<?xml version="1.0" encoding="UTF-8"?>
<launch>


<!-- setup arguments -->
<!-- TODO: rosbag arguments -->
<arg name="bag_data_path"   default="/media/slam007/datasets/0613/1f2/zed1f1.2.bag"/>
<!-- <arg name="bag_data_path" default="/media/slam007/datasets/EuRoC/ROSBAG/MH_01_easy.bag"/> -->

<!-- ORBSLAM arguments -->
<arg name="octomap_enabled"         		default="false"/>

<!-- feature visualizer arguments -->
<arg name="visualize_orb_features"          default="false"/>


<!-- rosbag replay-->
<param name="use_sim_time" value="true"/>
<!-- 
  从10秒开始播放：rosbag play -s 10 xx.bag 
  仅播放前十秒：rosbag play -u 10 xx.bag
  从120s开始播放，只播放20s，就是播放120s~140s的时间段： rosbag play xx.bag -s 120 -u 20
  -->
<node pkg="rosbag" type="play" name="player" output="screen" args="$(arg bag_data_path) --clock --pause -r 1 ">
  <!-- TODO: KITTI  -->
  <!-- <remap from="kitti/camera_gray_left/image_raw" to="left/image_rect_color"/> -->
  <remap from="/zed2i/zed_node/left/image_rect_gray" to="left/image_rect_color"/>

  <!--  -->
  <!-- <remap from="/cam0/image_raw" to="left/image_rect_color"/> -->

  <!-- <remap from="kitti/camera_gray_right/image_raw" to="right/image_rect_color"/> -->
  <remap from="/zed2i/zed_node/right/image_rect_gray" to="right/image_rect_color"/>

  <!-- <remap from="/cam1/image_raw" to="right/image_rect_color"/> -->

</node>

<!-- TODO ORBSLAM2 launch -->
<!-- <include file="$(find orb_slam2_ros)/launch/orb_slam_kitti.launch">
  <arg name="octomap_enabled"   value="false"/>
</include> -->
<arg name="orb_settings_file" default="$(find orb_slam2_ros)/settings/zed2i_save.yaml"/>
<!-- ORBSLAM2 with Ros -->
<!-- Provide the correct settings .yaml file to specify camera parameters and ORB feature settings -->
<node pkg="orb_slam2_ros" type="Stereo" name="orb_slam2" args="$(find orb_slam2_lib)/Vocabulary/ORBvoc.bin $(arg orb_settings_file) False" cwd="node" output="screen">
  <!-- <param name="octomap_enabled" value="$(arg octomap_enabled)"/> -->
  <!-- needed for projected/gradient map-->
  <param name="octomap_resolution" value="0.02"/>
  <param name="occupancy_projection_min_height" value="-0.1"/>
  <param name="occupancy_gradient_max_height" value="0.2"/>
  <param name="occupancy_gradient_nb_erosions" value="1"/>
  <param name="occupancy_gradient_low_slope" value="0.3"/>
  <param name="occupancy_gradient_high_slope" value="0.5"/>
</node>

<!-- rqt_image_view for visualization of extracted ORB featues in camera frame -->
<node pkg="rqt_image_view" type="rqt_image_view" name="rqt_image_view" args="image:=/orb_slam2/frame" if="$(arg visualize_orb_features)" output="screen"/>

</launch>
